h1{
  text-align: center;
  text-shadow: 2px 2px gray; 
  margin: 24px 0;

}
 h2{
   margin: 24px;
 }
 .login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .control-form{
    display: block;
    margin: 12px;
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
  }

  .control-label{
    display: inline-block;
    margin: 0 12px;
    padding: 8px;
    border: none;
  }
  .btn{
    margin: auto;
    border: none;
    padding: 8px 18px;
  }
  .btn:hover{
    color: #fff;
    background-color: #000;
  }
  .btn:active{
    transform: scale(0.9);
  }
  .group-flex{
      display: flex;
      justify-content: space-around;
    }
  .group-controls-flex{
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
    .primary{
      color: #fff;
      background-color: teal;
    }
     .control-search{
   /* border: solid 1px red;*/
    margin: 0;
  }
  .btn-search{
    margin: 0;
    padding: 12px;
   border-radius: 0 8px 8px 0;
    
  }
  .search-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
  }